.telkom-logo {
  object-fit: contain;
}

.telkom-logo-small {
  width: 30px;
  height: 30px;
}

.telkom-logo-medium {
  width: 50px;
  height: 50px;
}

.telkom-logo-large {
  width: 80px;
  height: 80px;
}

.telkom-logo-xlarge {
  width: 120px;
  height: 120px;
}
